" run `ln -s "$HOME/.config/ideavim/.ideavimrc" "$HOME/.ideavimrc"` to define ideavimrc in .config instead of home dir (~)

let mapleader = " "

noremap H ^
noremap L $

noremap <C-u> <C-u>zz
noremap <C-d> <C-d>zz

noremap n nzz
noremap N Nzz

noremap { {zz
noremap } }zz

noremap J mzJ`z

unmap <Space>
noremap <Space>y "+y
noremap <Space>d "+d
noremap <Space>p "+p

noremap <Space>o o<Esc>
noremap <Space>O O<Esc>

vnoremap < <gv
vnoremap > >gv

" Intellij Actions as vim keybindings
nnoremap <leader>e :action Run<CR>
nnoremap <leader>r :action RenameElement<CR>
nnoremap <leader>R :action Refactorings.QuickListPopupAction<CR>

" :action ContextRun<CR>
" :action RunClass<CR>
" :action ChooseRunConfiguration<CR>
" :action ActivateRunToolWindow<CR>
" :action Rerun<CR>

" -- paste but not replace the register
" vim.keymap.set("v", "P", "pgvy")
" vim.keymap.set("v", "<leader>P", '"+pgvy') -- with system-clipboard

" -- <C-n> & <C-p> for moving up and down the QuickFix List
" vim.keymap.set({ "n", "v" }, "<C-n>", "<cmd>cnext<CR>zz")
" vim.keymap.set({ "n", "v" }, "<C-p>", "<cmd>cprev<CR>zz")
" vim.keymap.set({ "n", "v" }, "<leader><C-n>", "<cmd>lnext<CR>zz")
